.item {
	display: flex;
	flex-direction: item;
}

.item div {
	height: var(--item-size);
	outline: 1px solid teal;
	outline-offset: -1px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	white-space: nowrap;
}
.item div:not(:first-child) {
	padding: 0 10px;
}
.checked {
	background-color: rgba(48, 133, 133, 0.2);
}

.item__checker {
	width: var(--item-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

.item__name {
	width: var(--com-name-w);
}
.item__quantity {
	width: var(--com-quantity-w);
	justify-content: center;
}
.item__address {
	width: var(--com-address-w);
}
