.list__head {
	display: flex;
	flex-direction: row;
}
.list__head div {
	/* min-width: fit-content; */
	/* height: 38px; */
	height: var(--item-size);
	outline-offset: -1px;
	outline: 1px solid teal;
	display: flex;
	/* flex-direction: row; */
	/* flex-wrap: nowrap; */
	align-items: center;
	padding: 10px;
	justify-content: center;
}
.list__checker {
	width: var(--item-size);
	justify-content: center;
	/* height: 40px; */
	/* outline-offset: -1px; */
	/* outline: 1px solid teal; */
}

.list__name {
	width: var(--com-name-w);
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}
.list__quantity {
	width: var(--com-quantity-w);
}
.list__address {
	width: var(--com-address-w);
}
.list__notification {
	width: 250px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
