.modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px;
	transform: scale(1);
	opacity: 0;
	transition: all 0.35s;
	pointer-events: none;
	pointer-events: none;
	visibility: hidden;
	overflow-y: auto;
}

.modal__content {
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(24, 83, 70, 0.85);
	min-width: 100px;
	min-height: 40px;
	transform: scale(0);
	transition: all 0.35s;
	visibility: hidden;
	overflow-y: auto;
	position: relative;
}
.modal__content .modal__close {
	position: absolute;
	right: 20px;
}
.active {
	pointer-events: all;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}
