.item {
	display: flex;
}

.item div {
	height: var(--item-size);
	outline: 1px solid teal;
	outline-offset: -1px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	white-space: nowrap;
}
.item div:not(:first-child) {
	padding: 0 10px;
}
.checked {
	background-color: rgba(48, 133, 133, 0.264);
}

.item__checker {
	width: var(--item-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

.item__name {
	width: var(--wrk-name-w);
}
.item__surname {
	width: var(--wrk-surname-w);
}
.item__role {
	width: var(--wrk-role-w);
}
