.row {
	display: flex;
	flex-direction: row;
	/* gap: 10px;/ */
	/* padding: 0 10px; */
}

.row div {
	height: var(--item-size);
	outline: 1px solid teal;
	outline-offset: -1px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	white-space: nowrap;
}
.row div:not(:first-child) {
	padding: 0 10px;
}
.checked {
	/* border: 10px solid red !important; */
	background-color: rgba(48, 133, 133, 0.264);
}

.check {
	width: var(--item-size);
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 0 !important; */
	/* margin: 0; */
	/* justify-content: center; */
}

.c_name {
	width: var(--com-name-w);
}
.c_quantity {
	width: var(--com-quantity-w);
	justify-content: center;
}
.c_address {
	width: var(--com-address-w);
}
.w_name {
	width: var(--wrk-name-w);
}
.w_surname {
	width: var(--wrk-surname-w);
}
.w_role {
	width: var(--wrk-role-w);
}
