#root {
	padding: 0 20px;
	width: 100%;
}

.app {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
}

.header {
	margin: 40px 35px;
	font-size: 28px;
}

.table {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 14px;
}
